@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!-- YAZAR KAYIT SAYFASI-->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">YAZAR KAYIT SAYFASI</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">

                @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @*@Html.AntiForgeryToken()Güvenlik için kullanılan kod*@
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Adınız Soyadınız</label>
                            @Html.TextBoxFor(b => b.WriterName, new { placeholder = " ", @class = "form-control" })
                            @Html.ValidationMessageFor(b => b.WriterName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">E-mail adresiniz</label>
                            @Html.TextBoxFor(b => b.WriterMail, new { placeholder = " ", @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(b => b.WriterMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifreniz</label>
                            @Html.TextBoxFor(b => b.WriterParola, new { placeholder = " ", @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(b => b.WriterParola, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Yüklenecek resmi seçiniz</label>
                            @Html.TextBoxFor(b => b.WriterImage, new { placeholder = " ", @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(b => b.WriterImage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Kaydet</button>
                    <p>
                        <a href="#" id="btnsartlar">Üyelik şartlarını okudum kabul ediyorum!</a>
                    </p>
                }
            </div>
        </div>
    </div>
</section>

<script>
    $('#btnsartlar').click(function () {
        swal("Üyelik şartları!", "siteye üye olduğunuzda tüm verileriniz kayıt altına alınacaktır. Şifre ve e-mail adres bilgileriniz kimsenin göremeyeceği şekilde şifrelenmiş olarak veri tabanında tutulacaktır. ");
    });
</script>

