@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "AddWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Bilgileri Güncelleme Sayfası</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Yazarın Adı SOYADI</label>
                        @Html.TextBoxFor(b => b.WriterName, new { placeholder = " ", @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.WriterName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail Adresi</label>
                        @Html.TextBoxFor(b => b.WriterMail, new { placeholder = " ", @class = "form-control", type = "email" })
                        @Html.ValidationMessageFor(b => b.WriterMail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                        @Html.TextBoxFor(b => b.WriterParola, new { placeholder = " ", @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(b => b.WriterParola, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Yazar Görseli</label>
                        <div class="form-group">
                            @Html.TextBoxFor(b => b.WriterImage, new { type = "file" })
                            <div><label style="color:red">Yüklenecek Dosyayı seçiniz</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Yazar Hakkında</label>
                        @Html.TextAreaFor(b => b.WriterAbout, new { placeholder = " ", @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.WriterAbout, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                    <button class="btn btn-danger">Vazgeç</button>
                </form>
            </div>
        </div>
    </div>
}

@section Editor
    {
    <!-- summernote -->
    <link href="~/writer/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Summernote -->
    <script src="~/writer/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#WriterAbout').summernote()
        })
    </script>
}